<%= form.fields_for :location, include_id: false do |location| %>
  <section class="bg-white shadow px-4 py-5 lg:rounded-lg sm:p-6">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h2 class="text-lg font-medium leading-6 text-gray-900"><%= t("location.title") %></h2>
        <p class="mt-2 text-sm text-gray-500"><%= t("location.help_text") %></p>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <div class="space-y-6">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
              <%= location.text_field :city, label: 'City' , placeholder: 'Enter City Name' %>
            </div>
            <div>
              <%= location.text_field :state, label: 'State' , placeholder: 'Enter State Name' %>
            </div>
            <div>
              <%= location.text_field :country, label: 'Country' , placeholder: 'Enter Country Name' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
