<!-- User Section -->
<%= form.fields_for :user do |user_form| %>
	<section class="bg-white shadow px-4 py-5 lg:rounded-lg sm:p-6">
		<div class="md:grid md:grid-cols-3 md:gap-6">
			<div class="md:col-span-1">
				<h2 class="text-lg font-medium leading-6 text-gray-900"><%= t("profile.title") %></h2>
				<p class="mt-2 text-sm text-gray-500"><%= t("profile.help_text") %></p>
			</div>
			<div class="mt-5 md:mt-0 md:col-span-2">
				<div class="space-y-6">
					<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
						<div>
							<%= user_form.text_field :first_name, label: 'First Name' , placeholder: 'Enter First Name' %>
						</div>
						<div>
							<%= user_form.text_field :last_name, label: 'Last Name' , placeholder: 'Enter Last Name' %>
						</div>
						<div>
							<%= user_form.select :gender,  User.genders.map { |key, _| [User::GENDER_DISPLAY[key.to_sym], key] }, { include_blank: "---Select---", label: "Pronounce" } %>
						</div>
						<div>
							<%= user_form.telephone_field :phone_number, placeholder: "+1 (555) 123-4567" , label: "Phone" %>
						</div>
						<div>
							<%= user_form.date_field :date_of_birth,   max: Date.today - 10.years, min: Date.today - 120.years, label: "Date of birth" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<% end %>
