   <!-- Work Preference Section -->
<div class="bg-white rounded-lg shadow p-6 space-y-6">
	<h2 class="text-xl font-semibold text-gray-900 mb-4">Work Preferences</h2>
	<!-- Search Status -->
	<%= form.fields_for :work_preference do |wp_form| %>
		<fieldset>
			<legend class="text-base font-medium text-gray-900">
				<div class="flex mb-4">
					<%= I18n.t(".search_status.title") %>
				</div>
			</legend>
			<div class="flex flex-wrap gap-4">
				<% Candidate::WorkPreference.search_statuses.each do |key, value| %>
					<label class="inline-flex items-center">
						<%= wp_form.radio_button :search_status, key, checked: wp_form.object.search_status == key, class: "focus:ring-gray-500 h-4 w-4 text-gray-600 border-gray-300 rounded-full" %>
						<span class="ml-2 capitalize"><%= key.to_s.humanize %></span>
					</label>
				<% end %>
			</div>
		</fieldset>
	<% end %>
	<hr class="mb-2">
	<%= render 'candidates/form/role_types', form: form %>
	<hr class="mb-2">
	<%= render 'candidates/form/role_levels', form: form %>
</div>