<%= render DialogComponent.new do |dialog| %>
  <% dialog.with_header(title: t(".edit_company")) %>
  <% dialog.with_body do %>
    <%= styled_form_with model: @company, url: @company.new_record? ? platform_companies_path : platform_company_path(@company), method: @company.new_record? ? :post : :patch, class: "space-y-4" do |f| %>
  <% if @company.errors.any? %>
    <%= render "shared/form_errors" , model: @company %>
  <% end %>
  <section class="space-y-2 overflow-hidden">
    <%= f.text_field :name, label: 'Name' , placeholder: 'Enter Company Name' %>
  </section>
  <section class="space-y-2 overflow-hidden">
    <%= f.text_field :subdomain, label: 'Subdomain' , placeholder: 'Enter SubDomain' %>
  </section>
  <section class="space-y-2 overflow-hidden">
    <%= f.text_field :website, label: 'Website' , placeholder: 'Enter Website' %>
  </section>
  <section>
    <%= f.submit 'Submit' %>
  </section>
<% end %>

  <% end %>
<% end %>