<table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
  <thead class="bg-gray-100 dark:bg-gray-800 sticky top-0 z-10">
    <tr>
      <% if bulk_select && can?(:create, record) %>
        <th scope="col" class="p-4">
          <div class="flex items-center">
            <%= check_box_tag "selection_entry",
                class: "w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600",
                data: { action: "bulk-select#togglePageSelection" } %>
          </div>
        </th>
      <% end %>
      <% columns.each do |column| %>
        <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
          <%= column[:header] %>
        </th>
      <% end %>
      <% if actions.present? %>
        <th scope="col" class="p-4">
          <span class="sr-only">Actions</span>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
    <% records.each do |record| %>
      <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
        <% if bulk_select && can?(:create, record) %>
          <td class="p-4 w-4">
            <% if can?(:create, record) %>
              <div class="flex items-center">
                <%= check_box_tag dom_id(record, "selection"),
                    class: "maybe-checkbox maybe-checkbox--light",
                    data: { id: record.id, "bulk-select-target": "row", action: "bulk-select#toggleRowSelection" } %>
              </div>
            <% end %>

          </td>
        <% end %>
        <% columns.each do |column| %>
          <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= record.public_send(column[:attribute]) %>
          </td>
        <% end %>
        <% if actions.present? && can?(:create, record) %>
          <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
            <% actions.each do |action| %>
              <%= link_to action[:url].call(record),
                  data: { turbo_frame: action[:turbo_frame] || nil },
                  class: "dark:text-white hover:underline" do %>
                <%= lucide_icon(action[:icon], class: "w-5 h-5") %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
