<div class="space-y-1 mb-6 text-center">
	<h1 class="text-2xl font-medium md:text-2xl">Let's set up your account</h1>
	<p class="text-secondary text-sm">First things first, let's get your profile set up.</p>
</div>
<%= styled_form_with(model: @user, url: registration_path(@user), method: :patch, class: "space-y-4", data: { controller: "searchable-select" }) do |form| %>
	<%= form.hidden_field :redirect_to, value: "onboarding_candidate" %>
	<div class="mb-6">
		<%= render "settings/user_avatar_field", form: form, user: @user %>
	</div>
	<% unless @invitation %>
		<div class="space-y-4 mb-4">
			<div class="flex flex-col md:flex-row md:justify-between md:items-center md:gap-4 space-y-4 md:space-y-0 mb-4">
				<section class="shadow px-4 py-5 lg:rounded-lg sm:p-6">
					<div class="md:grid md:grid-cols-3 md:gap-6">
						<div class="md:col-span-1">
							<h2 class="text-lg font-medium leading-6"><%= t("profile.title") %></h2>
							<p class="mt-2 text-sm text-gray-500"><%= t("profile.help_text") %></p>
						</div>
						<div class="mt-5 md:mt-0 md:col-span-2">
							<div class="space-y-6">
								<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
									<div>
										<%= form.text_field :first_name, label: 'First Name' , placeholder: 'Enter First Name' %>
									</div>
									<div>
										<%= form.text_field :last_name, label: 'Last Name' , placeholder: 'Enter Last Name' %>
									</div>
									<div>
										<%= form.select :gender,  User.genders.map { |key, _| [User::GENDER_DISPLAY[key.to_sym], key] }, { include_blank: "---Select---", label: "Pronounce" } %>
									</div>
									<div>
										<%= form.telephone_field :phone_number, placeholder: "+1 (555) 123-4567" , label: "Phone" %>
									</div>
									<div>
										<%= form.date_field :date_of_birth,   max: Date.today - 10.years, min: Date.today - 120.years, label: "Date of birth" %>
									</div>
									<%= form.hidden_field :bio_required, value: false %>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<%= form.fields_for :location, include_id: false do |location| %>
				<section class="shadow px-4 py-5 lg:rounded-lg sm:p-6">
					<div class="md:grid md:grid-cols-3 md:gap-6">
						<div class="md:col-span-1">
							<h2 class="text-lg font-medium leading-6"><%= t("location.title") %></h2>
							<p class="mt-2 text-sm"><%= t("location.help_text") %></p>
						</div>
						<div class="mt-5 md:mt-0 md:col-span-2">
							<div class="space-y-6">


								<div class="form-field pr-0 combobox">
									<%= location.combobox :location_search, locations_city_suggestions_path, id: "location-search-combobox", label: 'Select Location', placeholder: 'Enter location e.g. San Francisco, California' %>
								</div>
								<% if false %>
									<div
									     data-controller="multi-select"
									     data-multi-select-max-items-value="1"
									     data-multi-select-placeholder-value="Select Country"
									     data-multi-select-remove-item-button-value="true"
									     data-multi-select-search-enabled-value="true">
										<%= location.select :country,
									        ISO3166::Country.pluck(:iso_short_name),
									        { include_blank: true, label: 'Select Country' },
									        { data: { multi_select_target: "select" } }
									  %>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</section>
			<% end %>
		</div>
	<% end %>
	<%= form.submit "Continue" %>
<% end %>
