<%= content_for :previous_path, looking_for_onboarding_path %>
<%= content_for :header_nav do %>
	<%= render "onboardings/onboarding_nav", user: @user %>
<% end %>
<%= content_for :cancel_action do %>
	<%= render "onboardings/logout" %>
<% end %>
<div class="grow max-w-4xl w-full mx-auto bg-surface flex flex-col justify-center md:py-0 py-6 px-4 md:px-0">
	<div>
		<% if @user.user_type == 'user' %>
			<%= render partial: 'onboardings/user_user_type', user: @user %>
		<% else %>
			<%= render 'onboardings/user_type_company', company: @company %>
		<% end %>
	</div>
	<%= render "layouts/shared/footer" %>
</div>
