<%= content_for :page_title, "Company" %>
<%= settings_section title: "Company", subtitle: "Your commpany profile" do %>

  <%= styled_form_with(model: @company, method: :patch, class: "space-y-4", data: { controller: "searchable-select" }) do |form| %>
    <% if @company.errors.any? %>
      <%= render "shared/form_errors", model: @company %>
    <% end %>
    <div class="mb-6">
      <%= render "shared/company_avatar_field", form: form, object: @company %>
    </div>


    <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <%= form.text_field :name,
                      label: 'Company Name',
                      placeholder: 'Enter Company Name',
                      required: true
                       %>
        </div>
        <div class="sm:col-span-2">
        <%= form.text_field :subdomain,
                    label: 'Subdomain',
                    placeholder: 'Enter Subdomain (e.g., your-company)',
                    hint: 'This will be used for your company URL' %>
        </div>
        <div class="sm:col-span-2">
        <%= form.text_field :website,
                    label: 'Website',
                    placeholder: 'Enter Website (e.g., https://your-company.com)'
                     %>
        </div>

        <div class="sm:col-span-2">
          <%= form.text_area :description, placeholder: 'About your company(optional)', rows: 4, class: 'shadow-sm block w-full sm:text-sm border rounded-md' %>
      </div>

  <div class="flex justify-end mt-4">
    <%= render ButtonComponent.new(text: t(".save"), class: "md:w-auto w-full justify-center") %>
  </div>
<% end %>

<% end %>