<h2 class="sr-only"><%= t(".title") %></h2>
<div class="space-y-5 divide-y divide-gray-200">
  <%= render RenderableComponent.new("space-y-3") do %>
    <%= render Candidates::SearchStatusComponent.new(candidate&.work_preference) %>
  <% end %>
  <%= render RenderableComponent.new("space-y-5 pt-4") do %>
    <%= render RoleTypes::Component.new(candidate&.role_type) %>
  <% end %>
   <%= render RenderableComponent.new("space-y-5 pt-4") do %>
    <%= render RoleLevels::Component.new(candidate&.role_level) %>
  <% end %>
</div>