<%= settings_section title: "Edit Your Information", subtitle: "Enhance your Profile for better appearance" do %>
	<%= styled_form_with model: @candidate, local: true, class: "space-y-8" do |form| %>
		<% if @candidate.errors.any? %>
			<%= render "shared/form_errors", model: @candidate %>
		<% end %>
		<!-- Personal Details Column -->
		<%= form.fields_for :user do |user_form| %>
			<%= render 'candidates/form/upload_component', user_form: user_form%>
		<% end %>

				<%= render 'candidates/form/personal_details', form: form %>

		<%= render 'candidates/form/bio', form: form%>
		<%= render 'candidates/form/professional_details', form: form %>
		<%= render 'candidates/form/work_preferences', form: form %>
		<%= render 'candidates/form/social_links', form: form %>
		<div class="flex justify-end mt-4">
			<%= render ButtonComponent.new(text: t(".save", default: "Save"), class: "md:w-auto w-full justify-center") %>
		</div>
	<% end %>
<% end %>