<main class="col-span-2 space-y-4">
	<div>
		<%= turbo_frame_tag "candidate_profile_bio" do %>
			<!-- Overview -->
			<section class="bg-white rounded-2xl shadow-lg p-8">
				<div class="flex items-center justify-between mb-4">
					<h3 class="text-lg font-bold text-gray-900 mb-2">Overview</h3>
					<%= render LinkComponent.new(
                  text: "Edit",
                  variant: :primary,
                  href: edit_candidate_path(@candidate, edit: 'candidate_profile_bio'),
                  frame: :modal
              ) %>
				</div>
				<div class="prose max-w-prose">
					<%== @candidate&.rich_text_bio %>
				</div>
			</section>
		<% end %>
	</div>
	<!-- Experience -->
	<section class="bg-white rounded-2xl shadow-lg p-8">
		<%= turbo_frame_tag "candidate_experience" do %>
			<div class="flex items-center justify-between mb-4">
				<h3 class="text-lg font-bold text-gray-900 mb-6">Experience</h3>
				<%= render LinkComponent.new(
                  text: "Add Experience",
                  variant: :primary,
                  href: new_experience_path,
                  frame: :modal
              ) %>
			</div>
		<% end %>
		<%- @candidate.experiences.each do |experience|  %>
			<div class="mb-8">
				<div class="flex items-center mb-1 justify-between">
					<div class="flex items-center">
						<span class="inline-flex items-center justify-center w-9 h-9 rounded-full bg-lime-100 text-lime-600 font-bold mr-4 text-lg">T</span>
						<div>
							<div class="font-semibold text-gray-900 prose max-w-prose"><%= experience.company_name %></div>
							<div class="text-xs text-gray-500"><%= experience.job_title %> &bull; <%= experience_date_range(experience) %>
							</div>
						</div>
					</div>
					<%= render LinkComponent.new(
					  text: "Edit",
					  variant: :secondary,
					  href: edit_experience_path(experience),
					  frame: :modal
					) %>
				</div>
				<div class="list-inside text-gray-700 text-sm ml-14 mt-1">
					<p><%= experience.description %> </p>
				</div>
			</div>
		<% end %>
	</section>
</main>