<%= styled_form_with model: @role, class: "space-y-4" do |f| %>
  <% if role.errors.any? %>
    <%= render "shared/form_errors" , model: role %>
  <% end %>
  <section class="space-y-2 overflow-hidden">
    <%= f.text_field :name, label: 'Name' , placeholder: 'Enter Name' %>
  </section>

  <section class="space-y-4 overflow-hidden">
    <h2 class="text-lg font-bold text-gray-700">Actions</h2>

    <div class="flex items-center gap-4">
  <%= label_tag :is_default, "Default" %>
  <%= check_box_tag 'role[is_default]',
                    "1", # The value for the checkbox when checked
                    @role.is_default, # Checked if the user is locked
                    class: ["maybe-checkbox maybe-checkbox--light"],
                    data: { action: "bulk-select#toggleGroupSelection" } %>
</div>
  </section>

  <section>
    <%= f.submit 'Submit' %>
  </section>
<% end %>
