<div class="bg-white border rounded-lg p-6 mb-2 items-center gap-2">
<li class="flex items-center justify-between">
  <%= link_to course_topic_chapter_path(course, topic, chapter), class: "dark:text-white hover:underline" do %>
  <span class="flex items-start gap-2">
    <span class="font-bold text-black"> <%= chapter.display_number %></span>
    <span class="font-bold text-black">   <%= chapter.name %> </span>
  </span>
  <% end %>


  <span class="flex items-end gap-2">
    <%= link_to edit_course_topic_chapter_path(course, topic, chapter),
        class: "dark:text-white hover:underline" do %>
      <%= lucide_icon('square-pen', class: "w-5 h-5") %>
    <% end %>
  </span>
</li>
</div>