<%= styled_form_with model: [@course, @topic, chapter], class: "space-y-4" do |f| %>
  <% if chapter.errors.any? %>
    <%= render "shared/form_errors" , model: chapter %>
  <% end %>
  <section class="space-y-2 overflow-hidden">
    <%= f.text_field :name, label: 'Name' , placeholder: 'Enter Name' %>
    <%= f.textarea :content, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
  </section>
  <section>
    <%= f.submit 'Submit' %>
  </section>
<% end %>