<%= styled_form_with model: experience, url: url, method: method, class: "space-y-4" do |form| %>
<% if experience.errors.any? %>
      <%= render "shared/form_errors", model: experience %>
    <% end %>
  <section class="shadow mt-8 px-4 py-5 lg:rounded-lg sm:p-6">
    <div class="space-y-6">
      <div>
        <%= form.text_field :company_name, label: 'Enter Company Name', placeholder: 'Wipro Private Ltd.' %>
      </div>
      <div>
        <%= form.text_field :job_title, label: 'Enter Job Title', placeholder: 'Team Lead' %>
      </div>
      <div>
        <%= form.date_field :start_date, label: 'Start Date' %>
      </div>
      <div>
        <%= form.date_field :end_date, label: 'End Date' %>
      </div>
      <div>
        <%= form.text_area :description, rows: 5, class: 'shadow-sm block w-full sm:text-sm border rounded-md', label: 'Description' %>
      </div>
    </div>
  </section>
  <%= form.submit 'Submit' %>
<% end %>