<%= styled_form_with model: candidate, url: candidate_path(candidate, edit: 'candidate_profile_specialities'), method: :patch, class: "space-y-4" do |form| %>
	<%= form.hidden_field :redirect_to, value: "online_presence" %>
	   <section id="specialties" class="shadow mt-8 px-4 py-5 lg:rounded-lg sm:p-6">
        <div class="mb-4 p-3 bg-yellow-50 border-l-4 border-yellow-400 text-yellow-800 rounded">
          <strong>Note:</strong> You can select up to <span class="font-bold">5</span> specializations and <span class="font-bold">10</span> Skills.
        </div>
        <div class="md:grid md:grid-cols-3 md:gap-6">
          <div>
            <h2 class="text-lg font-medium leading-6">Specialties</h2>
            <p class="mt-2 text-sm "><%= t(".specialties.description") %></p>
            <p class="mt-2 text-sm"><%= t(".specialties.new.before") %> <%= link_to t(".specialties.new.cta"), "mailto:joe@railsdevs.com?subject=#{t(".specialties.new.subject")}", class: "font-medium underline" %>.</p>
            <h4 class="font-medium uppercase tracking-wide text-sm mt-4"><%= t(".specialties.note.title") %></h4>
            <p class="mt-1 text-sm"><%= t(".specialties.note.description") %></p>
          </div>
          <div class="md:col-span-2">
            <div class="relative" data-controller="multi-select"
               data-multi-select-max-items-value="5" <%# <-- Pass maxItems as a Stimulus value %>
               data-multi-select-placeholder-value="Select up to 5 specializations" <%# <-- Pass placeholder as a Stimulus value %>
               data-multi-select-remove-item-button-value="true" <%# <-- Pass boolean for remove button %>
               data-multi-select-search-enabled-value="true" <%# <-- Pass boolean for search %>
               >
              <%= form.select :candidate_role_ids,
                            options_from_collection_for_select(
                              @candidate_role_groups.flat_map(&:candidate_roles),
                              :id,
                              :name,
                              selected: @user.candidate&.candidate_role_ids
                            ),
                            {},
                            multiple: true,
                            data: { multi_select_target: "select" }

            %>
              <% if @candidate.errors[:candidate_role_ids].any? %>
                <div class="mt-2 text-sm text-red-600">
                  <% @candidate.errors[:candidate_role_ids].each do |message| %>
                    <p><%= message %></p>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div data-controller="multi-select"
               data-multi-select-max-items-value="10"
               data-multi-select-placeholder-value="Select up to 10 skills"
               data-multi-select-remove-item-button-value="true"
               data-multi-select-search-enabled-value="true">
              <%= form.select :skill_ids,
                            options_from_collection_for_select(
                              @skills || [],
                              :id,
                              :name,
                              selected: @candidate&.skill_ids
                            ),
                            {},
                            multiple: true,
                            data: { multi_select_target: "select" }
            %>
            </div>
            <% if @candidate.errors[:skill_ids].any? %>
              <div class="mt-2 text-sm text-red-600">
                <% @candidate.errors[:skill_ids].each do |message| %>
                  <p><%= message %></p>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </section>
	<%= form.submit 'Submit' %>
<% end %>