<div id="<%= dom_id technology %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= technology.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subtitle:</strong>
    <%= technology.subtitle %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= technology.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Course:</strong>
    <%= technology.course_id %>
  </p>

</div>
