<% content_for :user_management_tab do %>
  <%= render 'layouts/user_management_tab' %>
<% end %>
<div id="resources"
     data-controller="bulk-select"
     data-bulk-select-singular-label-value='resource'
     data-bulk-select-plural-label-value="resources"
     class="flex flex-col bg-white dark:bg-gray-800 dark:border-gray-600 rounded-xl border border-alpha-black-25 shadow-xs p-4">
  <div id="entry-selection-bar" data-bulk-select-target="selectionBar" class="flex justify-center hidden">
    <%= render partial: "shared/common/selection_bar", locals: { destroy_path: bulk_destroy_admin_users_path } %>
  </div>
  <div class="space-y-4">
    <h1 class="text-xl font-semibold text-gray-900 dark:text-white">Users</h1>
    <header class="flex justify-between items-center items-center">
      <div class="flex">
        <%= render partial: "shared/common/search_bar", locals: { resource_path: admin_users_path, resource_id: 'users-search', placeholder: 'Search users by email' } %>
      </div>
      <div class="flex">
        <% if can?(:create, User) %>
          <%= render(ButtonComponent.new(
            label: "Add User",
            href: new_admin_user_path,
            icon: "plus",
            variant: :default,
            turbo_frame: :modal
          )) %>
        <% end %>
      </div>
    </header>
    <div class="flex flex-col">
      <div class="shadow-md sm:rounded-lg">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-y-auto max-h-96">
            <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
              <thead class="bg-gray-100 dark:bg-gray-800 sticky top-0 z-10">
                <tr>
                  <% if can?(:create, User) %>
                    <th scope="col" class="p-4">
                      <div class="flex items-center">
                        <%= check_box_tag "selection_entry",
                class: "w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600",
                data: { action: "bulk-select#togglePageSelection" } %>
                      </div>
                    </th>
                  <% end %>
                  <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                    Email
                  </th>
                  <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                    Created At
                  </th>
                  <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                    Updated At
                  </th>
                  <th scope="col" class="p-4">
                    <span class="sr-only">Actions</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                <% @users.each do |record| %>
                  <tr class="hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors">
                    <% if can?(:create, User) %>
                      <td class="p-4 w-4">
                        <% if can?(:create, User) %>
                          <div class="flex items-center">
                            <%= check_box_tag dom_id(record, "selection"),
                    class: "maybe-checkbox maybe-checkbox--light",
                    data: { id: record.id, "bulk-select-target": "row", action: "bulk-select#toggleRowSelection" } %>
                          </div>
                        <% end %>
                      </td>
                    <% end %>
                    <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      <%= record.email %>
                    </td>
                    <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      <%= record.created_at %>
                    </td>
                    <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      <%= record.updated_at %>
                    </td>
                    <% if can?(:create, User) %>
                      <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap flex items-center space-x-4">
                        <%= link_to edit_admin_user_path(record),
                              data: { turbo_frame: :modal },
                              class: "text-gray-700 dark:text-white hover:text-blue-600 dark:hover:text-blue-400 transition-colors" do %>
                          <%= lucide_icon('square-pen', class: "w-5 h-5") %>
                        <% end %>
                        <%= render(ButtonComponent.new(
                          label: "Impersonate",
                          href: impersonate_admin_user_path(record),
                          variant: :danger,
                          method: :post,
                          data: { turbo_method: :post }
                        )) %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="p-4">
            <%= render "shared/pagination", pagy: @pagy %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
