
<%= styled_form_with model: @social_link, url: candidate_social_link_path(@candidate), method: :patch, local: true, class: "space-y-8" do |social_link_form| %>
	<section class="bg-white shadow px-4 py-5 lg:rounded-lg sm:p-6">
		<div class="md:grid md:grid-cols-3 md:gap-6">
			<div class="md:col-span-1">
				<h2 class="text-lg font-medium leading-6 text-gray-900"><%= t("online_presence.title") %></h2>
				<p class="mt-2 text-sm text-gray-500"><%= t("online_presence.help_text") %></p>
			</div>
			<div class="mt-5 md:mt-0 md:col-span-2">
				<div class="space-y-6">
					<div>
						<div class="mt-1 flex rounded-md shadow-sm">
							<span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
								https://
							</span>
							<%= social_link_form.text_field :website, label: 'Enter Website' , placeholder: 'yourexample.com' %>
						</div>
					</div>
					<div>
						<div class="mt-1 flex rounded-md shadow-sm">
							<span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
								https://
							</span>
							<%= social_link_form.text_field :github, label: 'Enter Github Profile Link' , placeholder: 'github.com/username' %>
						</div>
					</div>
					<div>
						<div class="mt-1 flex rounded-md shadow-sm">
							<span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
								https://
							</span>
							<%= social_link_form.text_field :linked_in, label: 'Enter LinkedIn Profile Link' , placeholder: 'linkedin.com/in/username' %>
						</div>
					</div>
					<div>
						<div class="mt-1 flex rounded-md shadow-sm">
							<span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
								https://
							</span>
							<%= social_link_form.text_field :twitter, label: 'Enter Twitter Profile Link' , placeholder: 'twitter.com/username' %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Navigation -->
		<div class="flex justify-between mt-6">
			<%= link_to "Previous: Work Preference", candidate_work_preference_path(@candidate), class: "inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
			<div class="flex space-x-3">
				<%= render ButtonComponent.new(text: "Save", type: "submit", class: "md:w-auto w-full justify-center") %>
			</div>
		</div>
	</section>
<% end %>
