<section class="flex h-screen">
  <!-- Right side - Form area -->
  <div class="w-full flex flex-col justify-center items-center p-8 bg-white theme-dark:bg-gray-900">
    <div class="w-full max-w-md shadow-lg border-gray-300 rounded p-3">
      <%= styled_form_with(model: resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put, class: "space-y-4" }) do |f| %>
                 <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Accept Invitation
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Set your details to complete your account
      </p>
      <% if resource.invited_by.present? && resource.invited_by.company.present? %>
        <p class="mt-1 text-center text-sm text-gray-500">
          You're joining: <strong><%= resource.invited_by.company.name %></strong>
        </p>
      <% end %>
    </div>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :invitation_token, value: resource.invitation_token %>
        <section class="space-y-2 overflow-hidden">
          <%= f.text_field :first_name, label: 'First Name', placeholder: 'Enter First Name', required: true %>
        </section>
        <section class="space-y-2 overflow-hidden">
          <%= f.text_field :last_name, label: 'Last Name', placeholder: 'Enter Last Name', required: true %>
        </section>
        <section class="space-y-2 overflow-hidden">
          <%= f.password_field :password, label: 'Enter password', placeholder: 'Enter password', required: true %>
        </section>
        <section class="space-y-2 overflow-hidden">
          <%= f.password_field :password_confirmation, label: 'Confirm password', placeholder: 'Confirm password', required: true %>
        </section>
        <%= f.submit "Accept invitation" %>
      <% end %>
    </div>
  </div>
</section>
