<%= render DialogComponent.new do |dialog| %>
  <% dialog.with_header(title: t(".invite_user")) %>
  <% dialog.with_body do %>
<div class="min-h-screen flex items-center justify-center">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Invite New User
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Send an invitation to join your team
      </p>
      <% if current_user.company.present? %>
        <p class="mt-1 text-center text-sm text-gray-500">
          Inviting to: <strong><%= current_user.company.name %></strong>
        </p>
        <p class="mt-1 text-center text-sm text-gray-500">
          Your Default Role: <strong><%= current_user.company.roles.fetch_default_role.name %></strong>
        </p>
      <% end %>
      <p class="mt-2 text-center text-xs text-gray-400">
        The invited user will receive an email with a link to set their password and join your company.
      </p>
    </div>

    <%= styled_form_with model: resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post, class: "mt-8 space-y-4" } do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= f.label :email, class: "sr-only" %>
          <%= f.email_field :email,
              placeholder: "Email address"
              %>
        </div>
      </div>

      <div>
        <%= f.submit 'Submit' %>
      </div>
    <% end %>

    <div class="text-center">
      <%= link_to "Back to Users",
          current_user.platform_admin? ? platform_users_path : admin_users_path,
          class: "text-indigo-600 hover:text-indigo-500" %>
    </div>
  </div>
</div>

  <% end %>
<% end %>